[submodule "Makethon"]
	path = Makethon
	url = https://github.com/narayanpandeybt24cse-hue/MakethonApp.git
[submodule "MakeathonWebsite"]
	path = MakeathonWebsite
	url = https://github.com/vaibhav786775/Makethon.git
